<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
<style>
  div.row {
    display: flex;
  }

  div.row > span {
    border: 1px solid black;
    height: 75px;
    width: 75px;
    margin: 5px;
    cursor: pointer;
  }

  div.row > span:hover {
    border: 1px solid gray;
  }

  div.row > span.active {
     background-color: #ccc;
   }
</style>
</html>
