<template>
  <div>
    <button v-on:click="startSimulation()" :disabled="running">
      Start Simulation
    </button>
    <button v-on:click="stopSimulation()" :disabled="!running">
      Stop Simulation
    </button>
    <div class="row">
      <component
        :is="dynamicComponent"
        v-bind:board="board"
        v-bind:running="running"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      board: this.createEmptyBoard(),
      timer: undefined,
      running: false
    }
  },

  computed: {
    dynamicComponent: function() {
      return {
        props: ['board', 'running'],
        template: `<div id="main">${this.generateBoard()}</div>`,
        methods: {
          invertActivity(boardRowIndex, boardColumnIndex) {
            if (!this.running) {
              this.board[boardRowIndex][boardColumnIndex].active = !this.board[
                boardRowIndex
              ][boardColumnIndex].active
            }
          }
        }
      }
    }
  },

  methods: {
    startSimulation() {
      this.running = true
      this.runStep()
      this.timer = setInterval(this.runStep, 1000)
    },

    stopSimulation() {
      this.running = false
      if (this.timer != null) clearTimeout(this.timer)
    },

    runStep() {
      let tempBoard = this.copyBoard(this.board)
      for (const boardRowIndex in this.board) {
        for (const boardColumnIndex in this.board[boardRowIndex]) {
          let neighbors = this.numberOfNeighbors(
            boardRowIndex,
            boardColumnIndex
          )

          if (
            this.board[boardRowIndex][boardColumnIndex].active &&
            neighbors < 2
          ) {
            tempBoard[boardRowIndex][boardColumnIndex].active = false
            continue
          }

          if (
            this.board[boardRowIndex][boardColumnIndex].active &&
            neighbors > 3
          ) {
            tempBoard[boardRowIndex][boardColumnIndex].active = false
            continue
          }

          if (
            !this.board[boardRowIndex][boardColumnIndex].active &&
            neighbors === 3
          ) {
            tempBoard[boardRowIndex][boardColumnIndex].active = true
          }
        }
      }
      this.board = this.copyBoard(tempBoard)
    },

    numberOfNeighbors(boardRowIndex, boardColumnIndex) {
      let n = 0
      if (
        boardRowIndex > 0 &&
        this.board[+boardRowIndex - 1][boardColumnIndex].active
      ) {
        n++
      }

      if (
        boardColumnIndex < this.board[boardRowIndex].length - 1 &&
        this.board[boardRowIndex][+boardColumnIndex + 1].active
      ) {
        n++
      }

      if (
        boardRowIndex < this.board.length - 1 &&
        this.board[+boardRowIndex + 1][boardColumnIndex].active
      ) {
        n++
      }

      if (
        boardColumnIndex > 0 &&
        this.board[boardRowIndex][+boardColumnIndex - 1].active
      ) {
        n++
      }

      if (
        boardRowIndex > 0 &&
        boardColumnIndex > 0 &&
        this.board[+boardRowIndex - 1][+boardColumnIndex - 1].active
      ) {
        n++
      }

      if (
        boardRowIndex > 0 &&
        boardColumnIndex < this.board[boardRowIndex].length - 1 &&
        this.board[+boardRowIndex - 1][+boardColumnIndex + 1].active
      ) {
        n++
      }

      if (
        boardRowIndex < this.board.length - 1 &&
        boardColumnIndex > 0 &&
        this.board[+boardRowIndex + 1][+boardColumnIndex - 1].active
      ) {
        n++
      }

      if (
        boardRowIndex < this.board.length - 1 &&
        boardColumnIndex < this.board[boardRowIndex].length - 1 &&
        this.board[+boardRowIndex + 1][+boardColumnIndex + 1].active
      ) {
        n++
      }

      return n
    },

    copyBoard(originalBoard) {
      let tempBoard = Array(originalBoard.length)
      for (const i in originalBoard) {
        tempBoard[i] = Array(originalBoard[i].length)
        for (const j in originalBoard[i]) {
          tempBoard[i][j] = Object.assign({}, originalBoard[i][j])
        }
      }
      return tempBoard
    },

    generateBoard: function() {
      let boardTemplate = ''
      for (const boardRowIndex in this.board) {
        boardTemplate += `<div class="row">`
        for (const boardColumnIndex in this.board[boardRowIndex]) {
          boardTemplate += `<span ${
            this.board[boardRowIndex][boardColumnIndex].active
              ? 'class="active"'
              : ''
          } v-on:click="invertActivity(${boardRowIndex},${boardColumnIndex})">${boardRowIndex}:${boardColumnIndex}</span>`
        }
        boardTemplate += `</div>`
      }
      return boardTemplate
    },

    createEmptyBoard() {
      var a = []
      // eslint-disable-next-line no-unused-vars
      for (let i of Array(8)) {
        let r = []
        // eslint-disable-next-line no-unused-vars
        for (let j of Array(8)) {
          r.push({
            active: false
          })
        }
        a.push(r)
      }
      return a
    }
  }
}
</script>

<style lang="scss" scoped></style>
